.banner .top{
	align-items: stretch;
}
.bannerBox{
	width: 300px;
	height: 250px;
	transform-style: preserve-3d;
	transition: all 1s;
	transform: perspective(2000px) rotateY(0deg);
	margin-bottom: 70px;
	margin-top: 20px;
	/*animation: rot3d 15s linear infinite;*/
}
@keyframes rot3d{
	100%{
		transform: perspective(2000px) rotateY(360deg);
	}
}
.bannerBox .banner3d{
	transform-style: preserve-3d;
}

.bannerBox .banner3d > div{
	position: absolute;
	background: #333;
}
.poster{
	width: 100%;
	height: 100%;
}
.bannerBox .banner3d > div img{
	position: absolute;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

.bannerBox .banner3d > div .data{
	position: absolute;
	bottom: 0px;
	padding: 10px;
}

.data .name{
	color: #fff;
	text-align: center;
	font-size: 2em;
	text-shadow: 1px 5px 5px #000;
	margin-bottom: 8px;
	font-family: Glory;

}
.poster .data button{
	background: #fff;
	color: #333;
	border: none;
	padding: 7px 20px;
	box-shadow: 0 10px 20px #0003;
	font-family: Glory;
	border-radius: 2px;
}

@media screen and (max-width: 400px){
	.videoBox .controls .top .center .d {
		transform: scale(.7);
	}
	.videoBox .controls .bottom {
	  padding: 10px 0;
	}
}

@media screen and (max-width: 900px){
	.banner .top .left{
		display: none;
	}

	.banner .top .right{
		width: 100%		
	}
}
