#urlLoader{
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 0px;
	transition: all .5s;
	pointer-events: none;
	overflow: hidden;
}
#urlLoader.active{
	height: 5px;
}

#urlLoader.active::after {
	content: "";
	position: absolute;
	animation: l 2s ease infinite;
	height: 5px;
	background: linear-gradient(90deg,transparent,#0099ff,transparent);
	width: 100%;
}
@keyframes l{
	0%{
		left: -0%;
		width: 20%;
	}
	50%{
		width: 100%;
	}
	100%{
		width: 20%;
		left: 100%;
	}
}