.banner{
  width: 100%;
  font-family: Encode Sans SC;
  padding: 10px;
  color: #333;
}
.banner .top > *{
  min-width: 50%;
}
.banner > *{
	margin-bottom: 10px;
}
.banner .bnrBtPan p,
.banner .intro{
	color: #fff;
	margin-bottom: 10px;
}
a{
  color: #fff;
}

.banner .contact{
  font-family: glory;
}
.banner .contact .extLnk{
  justify-content: flex-start;
  margin-top: 10px;
}
.banner .contact p{
  text-shadow: 1px 4px 2px #ff980755;
}
.banner .contact a{
  width: 40px;
  height: 40px;
  background: #fff;
  border-radius: 2px;
  margin: 0 10px;
}
.banner .contact .svg {
  width: 30px;
  height: 30px;
}
.banner .auth{
  justify-content: flex-end;
}
.banner button{
  background: none;
  color: #fff;
  background: #ff2767;
  border-radius: 99px;
}
.banner .myPro .myPic{
  border-radius: 50%;
  border: 3px solid #0099ff;
}
.banner .myPro .myPic img{
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  filter: brightness(1.2);
}

.bnrbtn2 {
  width: max-content;
}
.bnrbtn2 button{
  margin-right: 10px;
}
.bnrbtn2 button svg{
  margin-right: 10px;
  height: 18px;
  fill: #fff;
}