a{
  text-decoration: none;
}
.menuBtn{
  flex-flow: column wrap;
  width: 100%;
  margin-bottom: 30px;
}
.banner .top{
  align-items: stretch;
}
.banner .menuBtn a{
  display: inline-block;

}
.banner .menuBtn a button{
  border-radius: 2px;
  margin: 5px;
  margin-left: 0px;
  border: none;
  background: #fff;
  border: 1px solid #bbb;
  color: #444;
}

.banner .right img
{
  object-fit: cover;
}
.img{
  width: 300px;
  height: 250px;
  border: 1px solid #aaa;
  border-radius: 4px;
  overflow: hidden;
}
.img > .loading{
  width: 100%;
  height: 100%;
}
.img > img{
  display: none;
}

.img.load > .loading{
  display: none;
}
.img.load > img{
  display: block;
}
.movieSubCat{
  flex-flow: row wrap;
}
.movieSubCat .episode a{
  margin: 10px;
  color: #555;
  text-decoration: none;
  background: #fff;
  border: 1px solid #999;
  padding: 10px 20px;
}
@media screen and (max-width: 900px){
  .banner .top{
    flex-flow: column;
  }

  .banner .top .right{
    width: 100%   
  }
}